@font-face {
    font-family: "Supercell-magic-webfont";
    font-style: normal;
    src: local("Supercell-magic-webfont"), local("Supercell-magic-webfont"),
    url('../assets/fonts/Supercell/Supercell-magic-webfont.ttf');
}

@font-face {
    font-family: "ComicNeue";
    font-style: normal;
    src: local("ComicNeue"), local("ComicNeue"),
    url('../assets/fonts/Comic-Neue/ComicNeue-Regular.ttf');
}
