.aboutContainer {
    margin: auto;
    margin-top: 18vh;
    width: 80vh;
    padding-bottom: 250px;
    justify-content: center;
    align-content: center;
    align-items: center;

    &__card_column {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__card {
            height: 22vh;
            margin: auto;
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            border: 1px solid black;

            &__portrait {
                height: 20vh;
                margin: 10px;
            }

            &__description {
                margin-right: 40px;
            }
        }
    }

}