.about_card_column {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__to_row {
        display: flex;
        flex-direction: column;
        @media screen and (max-width: 780px) {
            flex-direction: row;
        }
    }

    &__icons_to_col {
        display: flex;
        flex-direction: row;
        @media screen and (max-width: 780px) {
            flex-direction: column;
        }
    }
}
