.homepageBackground img {
    position: absolute;
    left: 0px;
    top: 0px;
    text-align: center;
    background-image: url(../../assets/images/hpbackground.png);
    position: fixed;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
} 
