.profile_container {
    
    margin: auto;
    margin-top: 22vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;


    &__profile_row {

        width: 90vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: center;
        @media screen and (max-width: 1400px) {
            flex-direction: column;
        }


        &__profile_box {
            height: 24vh;
            display: flex;
            flex-direction: row;
        }

        &__profile_picture {
            width: 24vh;
            height: 24vh;
            border: 1px solid black;
        }

        &__profile_fields {
            width: 40vh;
            height: 24vh;
            margin-left: 2vh;
            text-align: left;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-content: center;

            &__name {
                font-size: 4vh;
                margin: 0;
            }

            &__clan {
                font-size: 3vh;
                text-decoration: underline;
                margin: 0;
            }

            &__upload_history {
                font-size: 3vh;
                text-decoration: underline;
                margin: 0;
            }
        }

        &__edit_profile {
            width: 20vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;

            p {
                font-size: 2vh;
                float: top;
                text-decoration: underline;
            }
        }
    }

    &__bio_row {

        width: 90vw;
        margin: auto;
        margin-top: 20vh;
       
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: left;

        p {
            font-size: 2vh;
        }

        h3 {
            font-size: 3vh;
            // margin-bottom: -10px;
        }
    }
}