.hamburger {
    position: absolute;
    top: 5%;
  left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
  background: transparent;
}

span {
    width: 2rem;
    height: 0.25rem;
    background-color: white;
}