.footer {
    width: 100vw;
    height: 15vh;
    margin-top: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
    background-image: url("../../assets/images/hpbackground.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__copyright {

        text-align: center;

        p {
            font-size: medium;
            color: white;
        }
    }
}