.banner {
    width: auto;
    height: 15vh;
    margin: 0;
    padding: 0;
    background-color: #101820;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &__hamburger {
        margin-left: 3vw;
        text-align: center;
        align-self: center;

        @media screen and (max-width: 500px) {
            margin-left: 5vw;
        }
    }

    &__logo {
        height: 15vh;
        display: flex;
        flex-direction: row;
        align-self: center;
        margin: auto;
    }

    &__image {
        width: 10vh;
        padding: 5px;
        background-image: url("../../assets/logo/logo.png");
        background-size: 15vh;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__text {
        font-size: 5vh;
        text-align: right;
        align-self: center;
        margin: 0;
        padding: 5px;
        color: white;

        @media screen and (max-width: 300px) {
            display: none;
        }
    }
}